<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
<div>
    <h2>Administrator's Page</h2>
</div>
<h4>List of all users in the database</h4>
<br>
<div th:each="user : ${users}">
    <a th:href="@{user/{id}(id=${user.getId()})}"
       th:text="${user.getName() + ' ' + user.getLastName()}">user</a>
</div>

<br>
<hr>
    <a href="/user/new">Create new user</a>
<br>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>