<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
<div>
    <h3>Administrator's Page</h3>
</div>
<div th:each="user : ${users}">
    <a th:href="@{users/{id}(id=${user.getId()})}"
       th:text="${user.getName() + ' ' + user.getLastName()}">user</a>
</div>

<br/>
<hr/>
    <a href="/users/new">Create new user</a>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>